<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>

  <header>
    <!-- navbar bar -->
    <div class="row m-3">
      <div class="col-sm-3 btn btn-outline-secondary input-group-append">
        <a href="/" class="text-secondary">
          <h6 class="card-title">回到首頁</h6>
        </a>
      </div>

      <div class="col-sm-3 btn btn-outline-secondary input-group-append">
        <a href="/about" class="text-secondary">
          <h6 class="title">About</h6>
        </a>
      </div>

      <div class="col-sm-3 btn btn-outline-secondary input-group-append">
        <a href="/portfolio" class="text-secondary">
          <h6 class="title">Portfolio</h6>
        </a>
      </div>

      <div class="col-sm-3 btn btn-outline-secondary input-group-append">
        <a href="/contact" class="text-secondary">
          <h6 class="title">Contact</h6>
        </a>
      </div>
    </div>
  </header>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <!-- include javascript files here -->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

</body>

</html>